# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

etc/
old/
test/
bin/
RCS/
.depend
.gitignore
DerivedData/
*.dSYM
src/blib
src/caltime
src/ctime
src/sqlite
src/sqlite3
*.o
*.xcuserstate
blib.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/UserInterfaceState.xcuserstate

